@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    /* Primary Colors */
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    /* Neutral Colors */
    --Dark-gray: hsl(0, 0%, 59%);
    --Dark-gray-sep: hsl(0, 0%, 80%);
    /* Font Family */
    --font: 'Kumbh Sans', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Dark-cyan);
    background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
    background-size: 70%, 70%;
    background-repeat: no-repeat, no-repeat;
    background-position: top 180% left -60%, right -50% bottom 210%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 350px;
    height: 350px;
    background: white;
    border-radius: 4%;
    box-shadow: 0 0px 2px 0px var(--desaturatedblue);
}

.top-card {
    width: inherit;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.profil-pic {
    position: absolute;
    border: 5px solid white;
    border-radius: 50%;
    top: 25%;
}

.profil {
    margin-top: 45px;
}

.profil>span>b {
    font-family: var(--font);
    font-weight: 700;
    font-size: 18px;
}

.profil>span>em {
    font-family: var(--font);
    font-weight: 700;
    font-size: 18px;
    color: var(--Dark-gray);
    font-style: normal;
}

.profil>p {
    font-family: var(--font);
    font-weight: 700;
    font-size: 15px;
    color: var(--Dark-gray);
    font-style: normal;
    text-align: center;
}

.separator {
    width: 100%;
    border-bottom: 2px solid var(--Dark-gray-sep);
}

.bottom-card {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
    margin-bottom: 20px;
}

.fol-lik-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fol-lik-pic b {
    font-family: var(--font);
    font-weight: 700;
    font-size: 18px;
}

.fol-lik-pic em {
    font-family: var(--font);
    font-weight: 700;
    font-size: 12px;
    color: var(--Dark-gray);
    font-style: normal;
}